body {
  font-family: Lato;
  color: #222;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: Lato, sans-serif;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active {
  background-color: #95ffaa;
  text-decoration: none;
}

*::after,
*::before {
  box-sizing: border-box;
}
.filters,
.reports {
  background: #f1f2f7;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.filter, .report {
  flex: 0 0 auto;
}
.filter.request {
  flex: 1 0 auto;
}
.report label,
.filter label {
  display:block;
}
.filter input[type="text"],
.filter select {
  width: 100%;
}
.reports {
  background: #dee5f4;
}
.report input[type="text"],
.report select,
.filter input[type="text"],
.filter select {
  width: 100%;
}
input:invalid {
  background-color: #ffdddd;
}

.main {
  padding: 2rem;
  white-space: pre;
  font-family: monospace;
  line-height: 1.1;
}
span.green { color: #008800; }
span.yellow { color: #887700; }
span.bold { font-weight:bold; }
span.red { color: #882200; }
span.dull { opacity: 0.5; }

table {
  border-collapse: collapse;
}
td, th { padding: 0.2em 1em; text-align: left; }
th { background: #eeeeee; }
td.right { text-align: right; }
td { border: solid 1px #eee; }
tr.stripe td { background-color: #f0f0f0; }
